@import "./../../styles/partials/variables";
@import "./../../styles/partials/mixins";

.CarouselCard {
	cursor: pointer;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: center;
	height: $carouselcard-height;
	width: $carouselcard-width;
	position: relative;
}
.ImageWrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	&_Image {
		object-fit: cover;
		height: $carouselcard-height;
		width: $carouselcard-width;
	}
}
.InfoWrapper {
	@extend %transitionFast;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 1;
	height: $carouselcard-height;
	width: $carouselcard-width;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	opacity: 0;
	color: $primary-font-color;
	background: linear-gradient(
		0deg,
		black 0%,
		rgba(0, 0, 0, 0.5) 10%,
		rgba(255, 255, 255, 0) 30%
	);
	&:hover {
		@extend %transitionFast;
		opacity: 1;
	}
	&_Content {
		margin: 10px;
	}
}
