@import "./../../styles/partials/variables";
@import "./../../styles/partials/mixins";

.Skills {
    @extend %centerFlex;
    @extend %transitionSlow;
    opacity: 1;
    height: 100%;
    width: 100vw;
    flex-direction: column;
    &__Invis {
        @extend .Skills;
        opacity: 0;
    }
}

.Card {
    margin-top: 4vw;
    width: 90vw;
    height: 80%;
    background-color: $primary-bg-color;
    border-radius: 10px;
    display: grid;
    grid-template-areas: "title info" "list info";
    grid-template-rows: 1fr 6fr;
    grid-template-columns: 1fr 4fr;
    &_Info {
        @extend %templateCard;
        grid-area: info;
        margin-left: 0;
        overflow-y: scroll;
        text-align: left;
        padding: 10px;
        padding-top: 0;
        padding-left: 20px;
        &::-webkit-scrollbar {
            display: none;
        }
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
        & h3 {
            text-align: center;
            font-weight: lighter;
        }
    }
}
