@import "./../../styles/partials/variables";
@import "./../../styles/partials/mixins";

.CardTitle {
	@extend %templateCard;
	@extend %centerFlex;
	grid-area: title;
	&_Title {
		margin: 10px;
		font-weight: lighter;
	}
}
