@import "./../../styles/partials/variables";
@import "./../../styles/partials/mixins";

.ItemWrapper {
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    width: 100%;
    &_Item {
        @extend %transitionFast;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 10px;
        margin: 5px;
        border-radius: 2px;
        &:hover {
            @extend %transitionFast;
            background-color: $primary-highlight-color;
        }
        &__Current {
            @extend .ItemWrapper_Item;
            background-color: $primary-highlight-color;
        }
    }
    &_Icons {
        font-size: $primary-icon-size;
        display: flex;
        justify-content: space-evenly;
    }
    &_Title {
        color: $primary-font-color;
    }
}
