@import "./../../styles/partials/variables";
@import "./../../styles/partials/mixins";
@use "./../../styles/partials/devices.scss";

.Project {
	@extend %border;
	@extend %projectCardSizes;

	position: relative;
	margin: 10px;

	cursor: pointer;
	&_Image {
		@extend %projectCardSizes;
		object-fit: scale-down;
	}
	&_Content {
		@include transition(0.3s);
		@extend %projectCardSizes;

		color: $primary-font-color;
		background: linear-gradient(
			0deg,
			black 0%,
			rgba(0, 0, 0, 0.5) 10%,
			transparent 30%
		);
		font-size: 0.5rem;

		display: flex;
		align-items: flex-end;

		position: absolute;
		bottom: 0;
		left: 0;
		box-sizing: border-box;
		margin: 0;
		padding: 10px;

		z-index: 2;
		overflow: hidden;
		opacity: 0;
		@include medium {
			font-size: 1rem;
		}
		&:hover {
			opacity: 1;
		}
	}
}
