@import "./../../styles/partials/variables";
@import "./../../styles/partials/mixins";
@use "./../../styles/partials/devices.scss";

$smallValue: 5em;
$largeValue: 10em;

.ProjectCard {
	@extend %border;
	@extend %centerFlexColumn;
	cursor: pointer;
	flex-wrap: nowrap;
	position: relative;
	border-radius: 2px;
	margin: 10px;
	@include small {
		@include cardDimensions($largeValue);
	}
	@include xsmall {
		@include cardDimensions($smallValue);
	}
}

.ImageWrapper {
	@extend %centerFlexColumn;
	&_Image {
		object-fit: contain;
		@include small {
			@include cardDimensions($largeValue);
		}
		@include xsmall {
			@include cardDimensions($smallValue);
		}
	}
}

.InfoWrapper {
	@include transition(0.3s);
	color: $primary-font-color;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 1;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	opacity: 0;
	background: linear-gradient(
		0deg,
		black 0%,
		rgba(0, 0, 0, 0.5) 10%,
		rgba(255, 255, 255, 0) 30%
	);
	@include small {
		@include cardDimensions($largeValue);
	}
	@include xsmall {
		@include cardDimensions($smallValue);
	}
	&:hover {
		@include transition(0.3s);
		opacity: 1;
	}
	&_Content {
		margin: 10px;
	}
}
