.SkillCard {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	transition: all 0.5s;
	&__Invis {
		@extend .SkillCard;
		transition: all 0.5s;
		-webkit-transition: all 0.5s;
		opacity: 0;
	}
	&_ContentBox {
		height: 100%;
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: flex-start;
	}
	&_ProjectsBox {
		width: 100%;
		height: 40%;
		display: flex;
		flex-direction: column;
	}
}
.HorizontalRule {
	height: 1px;
	background-color: gray;
	border: none;
	width: 100%;
}
