@import "./../../styles/partials/variables";
@import "./../../styles/partials/mixins";

.SkillCard {
	@extend %transitionFast;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	&__Invis {
		@extend .SkillCard;
		opacity: 0;
	}
	&_ContentBox {
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		& p {
			margin: 10px;
		}
	}
	&_ProjectsBox {
		width: 100%;
		height: 40%;
		display: flex;
		flex-direction: column;
	}
}
.HorizontalRule {
	@extend %horizontalRule;
}
