@import "./../../styles/partials/variables";
@import "./../../styles/partials/mixins";

.ListItem {
	@include transition(0.3s);
	color: $primary-font-color;
	cursor: pointer;
	padding: 10px;
	margin: 5px;
	border-radius: 2px;
	&_Icons {
		font-size: $primary-icon-size;
		display: flex;
		justify-content: space-evenly;
	}
	&_Title {
		color: $primary-font-color;
	}
	&_Link {
		@extend %noLinkDeco;
	}
	&:hover {
		@include transition(0.3s);
		background-color: $primary-highlight-color;
	}
	&__Active {
		@extend .ListItem;
		background-color: $primary-highlight-color;
	}
}
