@use "./../../styles/partials/devices.scss";

%border {
	border: 2px solid $primary-border-color;
}

%noScrollBar {
	&::-webkit-scrollbar {
		display: none;
	}
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

%noLinkDeco {
	color: $primary-font-color;
	text-decoration: none;
	&:active {
		color: inherit;
	}
	&:visited {
		color: inherit;
	}
}

%horizontalRule {
	border: 1px solid $primary-border-color;
	margin: 0;
	margin-bottom: 10px;
	clear: both;
	height: 0;
	width: 98%;
}

%templateCard {
	color: $primary-font-color;
	background-color: $secondary-bg-color;
	@include xsmall {
		margin: 10px;
	}
	@include small {
		margin: 10px;
	}
	@include medium {
		margin: 20px;
	}
	@extend %border;
}

%centerFlex {
	display: flex;
	justify-content: center;
	align-items: center;
}

%centerFlexColumn {
	display: flex;
	flex-direction: column;
	align-items: center;
}

@mixin transition($time) {
	transition: opacity $time, color $time, background-color $time, top $time,
		border $time, text-shadow $time;
	-webkit-transition: opacity $time, color $time, background-color $time,
		top $time, border $time, text-shadow $time;
}

@mixin cardDimensions($value) {
	height: $value;
	width: $value;
}
