%border {
	border: 2px solid $primary-border-color;
}

%horizontalRule {
	@extend %border;
	border-radius: 2px;
	clear: both;
	height: 0;
	width: 96%;
}

%templateCard {
	color: $primary-font-color;
	background-color: $secondary-bg-color;
	margin: 20px;
	@extend %border;
}

%centerFlex {
	display: flex;
	justify-content: center;
	align-items: center;
}

%transitionSlow {
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
}

%transitionFast {
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
}
