@use "./devices.scss";
@import "./variables";

// Common transition effects
@mixin transition($time) {
	transition: opacity $time, color $time, background-color $time, top $time,
		border $time, text-shadow $time, transform $time;
	-webkit-transition: opacity $time, color $time, background-color $time,
		top $time, border $time, text-shadow $time, transform $time;
}

// All these dimensions need to always be the same
@mixin cardDimensions($value) {
	height: $value;
	width: $value;
}

// Common rule used for fading in/out- adds &__Invis to a class
@mixin invisibilityCloak($parent) {
	&__Invis {
		@extend .#{$parent};
		opacity: 0;
	}
}

// Appearance rules for icon based links- apply to fontawesomeicon component
@mixin linkIcon($parent, $time) {
	&_LinkIcon {
		@include transition($time);
		@extend %noLinkDeco;
		font-size: $link-icon-size;
		margin: 5px;
		@include medium {
			font-size: $primary-icon-size;
		}
		&:hover {
			@include transition($time);
			color: $secondary-highlight-color;
		}
		&:active {
			@extend .#{$parent}_LinkIcon:hover;
		}
	}
}

// Common hr styling
@mixin horizontalRule {
	&_Break {
		border: 1px solid $primary-border-color;
		clear: both;

		margin: 10px;
		height: 0;
		width: 98%;
	}
}

// Common border rules
%border {
	border: 2px solid $primary-border-color;
}

// Pointer rules that also disable highlight on tap/click that occurs in some conditions
%noHighlightPointer {
	cursor: pointer;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0); // backup value because
	-webkit-tap-highlight-color: transparent; // sometimes the transparent keyword might not work,
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

// Removes scrollbar on scrollable containers
%noScrollBar {
	&::-webkit-scrollbar {
		display: none;
	}
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

// All links have same appearance site-wide
%noLinkDeco {
	color: $primary-font-color;
	text-decoration: none;
	&:active {
		color: inherit;
	}
	&:visited {
		color: inherit;
	}
}

// Basic rules shared by card parts
%cardPartBasics {
	@extend %border;
	color: $primary-font-color;
	background-color: $secondary-bg-color;
	margin: 10px;
	@include large {
		margin: 20px;
	}
}

// Centers element in the middle of the content body, accounts for navbar
%pageCentered {
	position: fixed;
	top: $nav-height;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
}

// Common flex rules
%centerFlex {
	display: flex;
	justify-content: center;
	align-items: center;
}

// Common flex column rules
%centerFlexColumn {
	display: flex;
	flex-direction: column;
	align-items: center;
}

// These values always need to match
%projectCardSizes {
	@include xsmall {
		@include cardDimensions($projectcard-smallValue);
	}
	@include medium {
		@include cardDimensions($projectcard-medValue);
	}
	@include large {
		@include cardDimensions($projectcard-largeValue);
	}
}
