@import "./devices.scss";

// COLOURS
$primary-font-color: whitesmoke;
$secondary-font-color: gray;

$primary-fonthl-color: rgb(217, 158, 145);

$primary-bg-color: rgba(29, 21, 65, 0.3);
$secondary-bg-color: rgba(0, 0, 0, 0.5);
$base-bg-color: rgba(0, 0, 0, 0.2);

$primary-modalbg-color: rgba(0, 0, 0, 0.9);

$primary-highlight-color: rgba(184, 190, 191, 0.2);
$secondary-highlight-color: rgb(201, 114, 114);

$primary-border-color: gray;

$primary-vertnav-color: rgb(104, 115, 129);

// DIMENSIONS
$nav-height: 3rem;
$vertnav-height: 4rem;

$projectcard-smallValue: 5rem;
$projectcard-medValue: 10rem;
$projectcard-largeValue: 15rem;

// FONT SIZES
$primary-icon-size: 1.5rem;
$secondary-icon-size: 1rem;
$link-icon-size: $primary-icon-size * 1.5;
