// COLOURS
$primary-font-color: whitesmoke;
$secondary-font-color: gray;

$primary-bg-color: rgba(29, 21, 65, 0.3);
$secondary-bg-color: rgba(0, 0, 0, 0.5);
$base-bg-color: rgba(0, 0, 0, 0.2);

$primary-modalbg-color: rgba(0, 0, 0, 0.9);

$primary-highlight-color: rgba(255, 255, 255, 0.2);
$secondary-highlight-color: red;

$primary-border-color: gray;

$primary-vertnav-color: black;

// DIMENSIONS
$projectcard-height: 9vw;
$projectcard-width: 9vw;

// FONT SIZES
$primary-icon-size: 1.5em;
$secondary-icon-size: 1em;
