@import "./../../styles/partials/variables";
@import "./../../styles/partials/mixins";

.NavbarItem {
	@include transition(0.5s);
	color: $primary-font-color;
	cursor: pointer;
	border-bottom: 2px solid transparent;
	&:hover {
		cursor: pointer;
		text-shadow: 0px 5px 5px $secondary-bg-color;
		border-color: $primary-font-color;
	}
	&__Current {
		@extend .NavbarItem:hover;
		border-bottom: 2px solid;
	}
}

.NavbarItemVertical {
	@include transition(0.5s);
	color: $primary-font-color;
	cursor: pointer;
	border-radius: 4px;
	text-align: left;
	padding: 0.8em;
	margin: 5px;
	padding-left: 2em;
	font-size: 1.2em;
	width: 100%;
	&:hover {
		@include transition(0.3s);
		@extend .NavbarItemVertical;
		background-color: $primary-highlight-color;
	}
	&__Current {
		@extend .NavbarItemVertical:hover;
	}
}
