@import "./../../styles/partials/variables";
@import "./../../styles/partials/mixins";

.NavbarItem {
	@include transition(0.5s);

	color: $primary-font-color;
	border-bottom: 2px solid transparent;
	cursor: pointer;
	&:hover {
		text-shadow: 0px 5px 5px $secondary-bg-color;
		border-color: $primary-font-color;
		cursor: pointer;
	}
	&__Current {
		@extend .NavbarItem:hover;
		border-bottom: 2px solid;
	}
}

.DrawerItem {
	@include transition(0.3s);

	color: $primary-font-color;
	font-size: 1.2em;

	padding: 0.25 * $vertnav-height;
	padding-left: 2 * $vertnav-height;
	width: 100vw;

	cursor: pointer;
	text-align: left;
	&:hover {
		@extend .DrawerItem;
		background-color: $primary-highlight-color;
	}
	&__Current {
		@extend .DrawerItem:hover;
	}
}
