@import "./../../styles/partials/variables";
@import "./../../styles/partials/mixins";

.NavbarItem {
	color: $primary-font-color;
	@extend %transitionSlow;
	border-bottom: 2px solid transparent;
	cursor: pointer;
	&:hover {
		cursor: pointer;
		text-shadow: 0px 5px 5px $secondary-bg-color;
		border-color: $primary-font-color;
	}
	&__Current {
		@extend .NavbarItem:hover;
		border-bottom: 2px solid;
	}
}
