.NavbarItem {
	transition: 500ms;
	border-bottom: 2px solid transparent;
	cursor: pointer;
	&:hover {
		text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
		border-color: whitesmoke;
		cursor: pointer;
	}
	&__Current {
		color: whitesmoke;
		text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
		border-bottom: 2px solid whitesmoke;
		cursor: pointer;
	}
}
