@import "./../../styles/partials/variables";
@import "./../../styles/partials/mixins";

.List {
	@extend %cardPartBasics;
	@extend %noScrollBar;
	@extend %centerFlexColumn;
	grid-area: list;

	margin-top: 0;
	padding: 5px;

	overflow-y: scroll;
	list-style: none;
	&__Small {
		@extend .List;
		margin-top: 10px;
		@include medium {
			margin-top: 20px;
		}
	}
}
