@import "./../../styles/partials/variables";
@import "./../../styles/partials/mixins";

.CardList {
	@extend %templateCard;
	&::-webkit-scrollbar {
		display: none;
	}
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
	display: flex;
	flex-direction: column;
	align-items: center;
	grid-area: list;
	margin-top: 0;
	overflow-y: scroll;
	padding: 5px;
	width: auto;
}
