@import "./../../styles/partials/variables";
@import "./../../styles/partials/mixins";
@use "./../../styles/partials/devices.scss";

.CardWrapper {
	@extend %centerFlex;
	@include transition(0.5s);
	@include xsmall {
		height: 85vh;
	}
	@include small {
		height: 85vh;
	}
	@include large {
		height: 100vh;
	}
	&__Invis {
		@extend .CardWrapper;
		opacity: 0;
	}
}

.CardWrapperVertical {
	@include transition(0.5s);
	@extend %centerFlexColumn;
	height: 100vh;
	width: 100vw;
	&__Invis {
		@extend .CardWrapper;
		opacity: 0;
	}
}

.Card {
	background-color: $primary-bg-color;
	margin-top: $nav-height * 2;
	display: grid;
	grid-template-rows: 1fr 6fr;
	grid-template-columns: 1fr 4fr;
	width: 100vw;
	height: 100%;
	&__Large {
		@extend .Card;
		grid-template-areas: "title info" "list info";
		@include small {
			grid-template-columns: 1fr 3fr;
		}
		@include large {
			grid-template-columns: 1fr 5fr;
			border-radius: 10px;
			margin-top: 3vw;
			width: 90vw;
			height: 90%;
		}
	}
	&__Small {
		@extend .Card;
		grid-template-areas: "list info" "list info";
		@include medium {
			grid-template-columns: 1fr 5fr;
			border-radius: 10px;
		}
		@include large {
			margin-top: 4vw;
			width: 70vw;
			height: 70%;
		}
		@include xxlarge {
			width: 50vw;
			height: 70%;
		}
	}
	&__Vertical {
		background-color: transparent;
		width: 100vw;
		display: flex;
		flex-direction: column;
		align-content: space-between;
	}
}
