@import "./../../styles/partials/variables";
@import "./../../styles/partials/mixins";

.Skills {
	@extend %centerFlex;
	@extend %transitionSlow;
	opacity: 1;
	height: 100%;
	width: 100vw;
	flex-direction: column;
	&__Invis {
		@extend .Skills;
		opacity: 0;
	}
}

.Card {
	margin-top: 4vw;
	width: 90vw;
	height: 80%;
	background-color: $primary-bg-color;
	border-radius: 10px;
	display: grid;
	grid-template-areas: "title info" "list info";
	grid-template-rows: 1fr 6fr;
	grid-template-columns: 1fr 4fr;
	&_Title {
		@extend %templateCard;
		@extend %centerFlex;
		grid-area: title;
		& h3 {
			margin: 0;
			font-weight: lighter;
		}
	}
	&_Info {
		@extend %templateCard;
		grid-area: info;
		margin-left: 0;
		overflow-y: scroll;
		text-align: left;
		padding: 10px;
		padding-top: 0;
		padding-left: 20px;
		&::-webkit-scrollbar {
			display: none;
		}
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
		& h3 {
			text-align: center;
			font-weight: lighter;
		}
	}
}

.SkillsList {
	@extend %templateCard;
	&::-webkit-scrollbar {
		display: none;
	}
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
	margin-top: 0;
	grid-area: list;
	overflow-y: scroll;
	padding: 5px;
	list-style: none;
	padding-left: 0;
	&_Item {
		@extend %transitionFast;
		cursor: pointer;
		display: flex;
		flex-direction: column;
		width: 100%;
		padding: 10px;
		margin: 5px;
		border-radius: 2px;
		&:hover {
			@extend %transitionFast;
			background-color: $primary-highlight-color;
		}
		&__Current {
			@extend .SkillsList_Item;
			background-color: $primary-highlight-color;
		}
	}
}

.ItemWrapper {
	text-decoration: none;
	display: flex;
	justify-content: space-between;
	width: 102%; // this is a super weird value, but it doesn't look right otherwise
}

.ProjectsBox {
	@extend %transitionSlow;
	width: 100%;
	height: 40%;
	display: flex;
	flex-direction: column;
	&_HorizontalRule {
		@extend %transitionSlow;
		@extend %horizontalRule;
	}
}
