@import "./../../styles/partials/variables";
@import "./../../styles/partials/mixins";

.ContentBody {
	box-sizing: border-box;
	height: 100vh;
	position: fixed;
	&__Vertical {
		@extend .ContentBody;
		@extend %centerFlexColumn;
		padding-top: $vertnav-height;
		overflow: scroll;
		scroll-snap-type: y proximity;
		scroll-padding: 3.5em;
	}
}
