.Navbar {
	transition: all 0.5s;
	z-index: 10;
	position: absolute;
	height: 3rem;
	width: 100vmax;
	display: flex;
	color: whitesmoke;
	justify-content: space-evenly;
	align-items: center;
	background-color: rgba(29, 21, 65, 0.2);
	margin: 0;
	padding: 0;
	list-style: none;
}
