@import "./../../styles/partials/variables";
@import "./../../styles/partials/mixins";

.Navbar {
	@extend %transitionSlow;
	z-index: 10;
	position: absolute;
	height: 3rem;
	width: 100vmax;
	display: flex;
	color: $primary-font-color;
	justify-content: space-evenly;
	align-items: center;
	background-color: $primary-bg-color;
	margin: 0;
	padding: 0;
	list-style: none;
}
