@import "./../../styles/partials/variables";
@import "./../../styles/partials/mixins";

.Wrapper {
	@include transition(0.3s);
	@include invisibilityCloak(Wrapper);
	@extend %pageCentered;
	@extend %centerFlex;
	@extend %noScrollBar;

	background: $secondary-bg-color;

	z-index: 10;
	top: 0;
}

.Modal {
	@include linkIcon(Modal, 0.3s);
	&_Content {
		@extend %border;
		@extend %noScrollBar;
		@extend %centerFlexColumn;

		background-color: $primary-modalbg-color;
		color: $primary-font-color;

		overflow: scroll;
		padding: 20px;
		max-height: 70vh;
		width: 90vw;

		@include small {
			width: 80vw;
		}
		@include medium {
			width: 70vw;
		}
		@include large {
			width: 40vw;
		}
	}
	&_Title {
		margin: 0;
		margin-bottom: 20px;
	}
	&_Image {
		@extend %border;
		max-height: 300px;
		max-width: 300px;
	}
}
