@import "./../../styles/partials/variables";
@import "./../../styles/partials/mixins";

.Modal {
	@extend %centerFlex;
	@extend %noScrollBar;
	@include transition(0.3s);
	background: $secondary-bg-color;
	z-index: 10;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	&_Content {
		@extend %border;
		@extend %noScrollBar;
		@extend %centerFlexColumn;
		background-color: $primary-modalbg-color;
		color: $primary-font-color;
		overflow: scroll;
		padding: 20px;
		max-height: 70vh;
		@include xsmall {
			width: 90vw;
		}
		@include small {
			width: 80vw;
		}
		@include medium {
			width: 70vw;
		}
		@include large {
			width: 40vw;
		}
	}
	&_Title {
		margin: 0;
		margin-bottom: 20px;
	}
	&_Image {
		@extend %border;
		max-height: 300px;
		max-width: 300px;
	}
	&_LinkIcon {
		font-size: $secondary-icon-size;
		@extend %noLinkDeco;
	}
	&__Invis {
		@extend .Modal;
		opacity: 0;
	}
}
