@import "./../../styles/partials/variables";
@import "./../../styles/partials/mixins";

.Modal {
	@extend %centerFlex;
	@extend %transitionFast;
	background: $secondary-bg-color;
	z-index: 10;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	&_Content {
		@extend %centerFlex;
		@extend %border;
		background-color: $primary-modalbg-color;
		color: $primary-font-color;
		pointer-events: auto;
		padding: 20px;
		display: grid;
		grid-template-areas: "image header" "image body";
		width: 40vw;
		align-items: center;
		padding: 20px;
	}
	&_Header {
		height: 100%;
		grid-area: header;
		display: flex;
		justify-content: right;
		align-items: flex-start;
	}
	&_ImageWrapper {
		@extend %centerFlex;
		@extend %border;
		grid-area: image;
	}
	&_Image {
		max-height: 300px;
		max-width: 300px;
	}
	&_Body {
		margin-left: 20px;
		grid-area: body;
	}
	&_Button {
		@extend %transitionFast;
		color: $primary-font-color;
		background-color: $secondary-bg-color;
		border: 0;
		font-weight: bold;
		cursor: pointer;
		&:hover {
			@extend .Modal_Button;
			color: $secondary-highlight-color;
		}
	}
	&_LinkIcon {
		font-size: $secondary-icon-size;
		color: $primary-font-color;
		&:active {
			color: inherit;
		}
		&:visited {
			color: inherit;
		}
	}
	&__Invis {
		@extend .Modal;
		opacity: 0;
	}
}
