@import "./../../styles/partials/variables";
@import "./../../styles/partials/mixins";

.Wrapper {
	@include transition(0.3s);
	@include invisibilityCloak(Wrapper);
	@extend %pageCentered;
	@extend %centerFlex;
	@extend %noScrollBar;

	background: $secondary-bg-color;

	z-index: 1000;
	top: 0;
}

.Modal {
	&_Content {
		@extend %border;
		@extend %noScrollBar;
		@extend %centerFlexColumn;

		background-color: $primary-modalbg-color;
		color: $primary-font-color;

		position: absolute;
		overflow: scroll;
		padding: 20px;
		max-height: 70vh;
		width: 90vw;

		@include small {
			width: 80vw;
		}
		@include medium {
			width: 70vw;
		}
		@include large {
			width: 40vw;
		}
	}
	&_Header {
		display: flex;
		justify-content: space-around;
		align-items: center;

		width: 100%;
		margin-bottom: 20px;
	}
	&_Close {
		@include linkIcon(Modal_Close, red, 0.3s);
		@extend %noHighlightPointer;

		background: transparent;

		border: none;
		margin: 0;
		padding: 0;
	}
	&_Title {
		margin: 0;
		font-size: 1.5rem;
	}
	&_Image {
		@extend %border;
		max-height: 300px;
		max-width: 300px;
	}
	&_Link {
		@include linkIcon(Modal_Link, $secondary-highlight-color, 0.3s);
		margin: 0;
		padding: 0;
	}
}
