@import "./../../styles/partials/variables";
@import "./../../styles/partials/mixins";

.Home {
	@extend %centerFlex;
	@extend %transitionFast;
	color: $primary-font-color;
	opacity: 1;
	height: 100%;
	width: 100vw;
	flex-direction: column;
	&_Title {
		font-size: 9vh;
		margin: 0;
		text-shadow: 3px 2px 3px $primary-highlight-color,
			0px 3px 10px $primary-border-color;
	}
	&_Subtitle {
		@extend .Home_Title;
		font-size: 7vh;
	}
	&__Invis {
		@extend .Home;
		opacity: 0;
	}
}
