@import "./../../styles/partials/variables";
@import "./../../styles/partials/mixins";

.Navbar {
	@include transition(0.5s);
	color: $primary-font-color;
	background-color: $primary-bg-color;
	height: $nav-height;
	width: 100vw;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	z-index: 10;
	position: absolute;
}

.NavbarVertical {
	@extend %centerFlex;
	background-color: $primary-vertnav-color;
	height: $vertnav-height;
	z-index: 20;
	width: 100%;
	position: fixed;
	&_MenuIcon {
		color: $primary-font-color;
		font-size: $primary-icon-size;
		cursor: pointer;
		z-index: 21;
		position: fixed;
		left: $vertnav-height / 6;
		top: $vertnav-height / 6;
	}
	&_PageTitle {
		color: $primary-font-color;
		font-size: 1.3em;
		font-weight: lighter;
	}
}

.Drawer {
	@include transition(0.5s);
	@extend %centerFlexColumn;
	color: $primary-font-color;
	background-color: $primary-vertnav-color;
	padding-top: $vertnav-height;
	z-index: 10;
	position: fixed;
	top: -50%;
	width: 100vw;
	&__Expanded {
		@extend .Drawer;
		top: 0;
	}
}
