@import "./../../styles/partials/variables";
@import "./../../styles/partials/mixins";

.MenuIcon {
	cursor: pointer;
	color: $primary-font-color;
	position: absolute;
	z-index: 20;
	font-size: 2em;
	left: 0.5em;
	top: 0.5em;
}

.Navbar {
	@extend %transitionSlow;
	z-index: 10;
	position: absolute;
	height: 3rem;
	width: 100vw;
	display: flex;
	color: $primary-font-color;
	justify-content: space-evenly;
	align-items: center;
	background-color: $primary-bg-color;
	margin: 0;
	padding: 0;
	list-style: none;
}

.NavbarVertical {
	@extend %transitionSlow;
	z-index: 10;
	position: fixed;
	left: -120%;
	height: 100%;
	width: 100vw;
	display: flex;
	flex-direction: column;
	color: $primary-font-color;
	justify-content: flex-start;
	align-items: center;
	background-color: transparent;
	margin: 0;
	padding: 0;
	padding-top: 4em;
	list-style: none;
	&__Expanded {
		@extend .NavbarVertical;
		background-color: $primary-vertnav-color;
		left: 0;
	}
}
