@import "./../../styles/partials/variables";
@import "./../../styles/partials/mixins";

.Horizontal {
	@include transition(0.5s);

	color: $primary-font-color;
	background-color: $primary-bg-color;

	height: $nav-height;
	width: 100vw;
	position: fixed;
	margin: 0;
	padding-left: 0;
	z-index: 10;

	display: flex;
	justify-content: space-evenly;
	align-items: center;

	list-style: none;
}

.Vertical {
	@extend %centerFlex;
	background-color: $primary-vertnav-color;

	height: $vertnav-height;
	width: 100vw;
	position: fixed;
	z-index: 20;

	&_Button {
		@extend %noHighlightPointer;
		@extend %buttonReset;

		left: $vertnav-height / 4;
		top: $vertnav-height / 4;
		z-index: 25;
		position: fixed;
	}
	&_Icon {
		@include transition(0.3s);
		@include linkIcon(Vertical_Icon, $secondary-highlight-color, 0.3s);

		color: $primary-font-color;
		font-size: $primary-icon-size;

		&__Expanded {
			@extend .Vertical_Icon;
			transform: scaleY(-1); // Wanna see me do a flip?
			-webkit-transform: scaleY(-1);
		}
	}
	&_PageTitle {
		color: $primary-font-color;
		font-size: 1.3em;
		font-weight: lighter;
	}
}

.Drawer {
	@include transition(0.5s);
	@extend %centerFlexColumn;

	color: $primary-font-color;
	background-color: $primary-vertnav-color;

	padding-top: $vertnav-height;
	padding-left: 0;
	width: 100vw;
	margin: 0;
	z-index: 10;
	position: fixed;
	top: -50%;

	&__Expanded {
		@extend .Drawer;
		top: 0;
	}
}
