@import "./../../styles/partials/variables";
@import "./../../styles/partials/mixins";
@use "./../../styles/partials/devices.scss";

.ContentCard {
	@include transition(0.3s);
	@extend %templateCard;
	@extend %noScrollBar;
	grid-area: info;
	margin-left: 0;
	overflow-y: scroll;
	text-align: left;
	padding: 10px;
	padding-top: 0;
	padding-left: 20px;
	&_Title {
		text-align: center;
		font-weight: lighter;
	}
	&_Content {
		margin: 20px;
	}
	&_HorizontalRule {
		@extend %horizontalRule;
	}
	&__Invis {
		@extend .ContentCard;
		opacity: 0;
	}
}

.ContentCardVertical {
	@include transition(0.3s);
	@extend %templateCard;
	@extend %noScrollBar;
	@extend %centerFlexColumn;
	grid-area: info;
	margin-left: 0;
	text-align: left;
	scroll-snap-align: start;
	padding: 20px;
	border-radius: 15px;
	margin: 3vh;
	@include xsmall {
		margin: 3vh 0.5vh;
	}
	&_Title {
		text-align: center;
		font-weight: lighter;
		margin: 10px;
		@include xsmall {
			font-size: 1em;
			margin: 5px;
		}
	}
	&_Icons {
		font-size: $primary-icon-size;
		margin: 10px;
		padding: 10px;
		@include xsmall {
			font-size: 1em;
			margin: 5px;
		}
		& svg {
			padding: 0 10px;
		}
	}
	&_Content {
		margin: 10px;
		@include xsmall {
			margin: 10px -5px;
		}
	}
	&_LinksBox {
		width: 50%;
		height: fit-content;
		display: flex;
		justify-content: space-around;
	}
	&_Link {
		@extend %noLinkDeco;
		margin: 0.5em;
		font-size: 1.5em;
	}
	&_HorizontalRule {
		@extend %horizontalRule;
	}
	&__Invis {
		@extend .ContentCardVertical;
		opacity: 0;
	}
}

.VerticalSpacer {
	height: $vertnav-height;
}
