@import "./../../styles/partials/variables";
@import "./../../styles/partials/mixins";

.ContentWrapper {
	@extend %templateCard;
	grid-area: info;
	margin-left: 0;
	overflow-y: scroll;
	text-align: left;
	padding: 10px;
	padding-top: 0;
	padding-left: 20px;
	&::-webkit-scrollbar {
		display: none;
	}
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

.ContentCard {
	@extend %transitionFast;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	&__Invis {
		@extend .ContentCard;
		opacity: 0;
	}
	&_Title {
		text-align: center;
		font-weight: lighter;
	}
	&_ContentBox {
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		& p {
			margin: 10px;
		}
	}
	&_ProjectsBox {
		width: 100%;
		height: 40%;
		display: flex;
		flex-direction: column;
	}
	& hr {
		@extend %horizontalRule;
	}
}
