@import "./../../styles/partials/variables";
@import "./../../styles/partials/mixins";
@use "./../../styles/partials/devices.scss";

.Horizontal {
	@include transition(0.3s);
	@include invisibilityCloak(Horizontal);
	@include horizontalRule;
	@extend %cardPartBasics;
	@extend %noScrollBar;
	grid-area: info;

	margin-left: 0;
	padding: 10px;
	padding-top: 0;
	padding-left: 20px;

	overflow-y: scroll;
	text-align: left;

	&_Title {
		text-align: center;
		font-weight: lighter;
	}
	&_Content {
		margin: 20px;
	}
}

.Vertical {
	@include transition(0.3s);
	@include invisibilityCloak(Vertical);
	@include horizontalRule;
	@extend %cardPartBasics;
	@extend %noScrollBar;
	@extend %centerFlexColumn;
	grid-area: info;

	margin: 3vh 0.5vh;
	padding: 20px;
	border-radius: 15px;

	text-align: left;
	scroll-snap-align: start;

	@include small {
		margin: 3vh;
	}

	&_Title {
		text-align: center;
		font-weight: lighter;
		margin: 5px;
		margin-bottom: 0;
	}
	&_Icons {
		font-size: $primary-icon-size;
		margin: 5px;
		& svg {
			padding: 10px;
		}
	}
	&_Content {
		margin: 10px -5px;
		@include small {
			margin: 10px;
		}
	}
	&_LinksBox {
		display: flex;
		justify-content: space-around;
	}
	&_LinkIcon {
		@include linkIcon(Vertical_LinkIcon, $secondary-highlight-color, 0.3s);
	}
}
