@import "./../../styles/partials/variables";
@import "./../../styles/partials/mixins";

.Item {
	@include transition(0.3s);

	color: $primary-font-color;

	box-sizing: border-box;
	width: 90%;
	padding: 10px;
	margin: 5px;
	border-radius: 2px;

	cursor: pointer;
	&_Icons {
		font-size: $primary-icon-size;
		display: flex;
		justify-content: space-evenly;
		margin: 0;
	}
	&_Title {
		color: $primary-font-color;
		font-weight: lighter;
		margin: 0;
	}
	&_Link {
		@extend %noLinkDeco;
	}
	&:hover {
		@include transition(0.3s);
		background-color: $primary-highlight-color;
	}
	&__Active {
		@extend .Item;
		background-color: $primary-highlight-color;
	}
}
