@import "./styles/partials/variables";
@import "./styles/partials/mixins";

@font-face {
	font-family: "Roboto";
	src: local("Roboto"),
		url(./styles/fonts/Roboto/Roboto-Regular.ttf) format("truetype");
}

body {
	margin: 0;
	font-family: Roboto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	height: 100vh;
	position: fixed;

	background-color: $primary-vertnav-color; /* Not intended to be visible, for status bars etc. */

	background: url(./images/background.jpg) no-repeat center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-attachment: fixed;

	scroll-behavior: smooth;
	font-size: 20px;
}

body::after {
	// Adds the background overlay
	content: "";

	display: block;
	position: fixed;
	height: 100vh;
	width: 100vw;
	top: 0;
	left: 0;
	z-index: -1;

	background-color: $base-bg-color;
	background-attachment: fixed;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

html {
	height: 100vh;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently
						supported by Chrome, Edge, Opera and Firefox */

	overscroll-behavior: none;
}

#root {
	height: 100vh;
}
