@import "./../../styles/partials/variables";
@import "./../../styles/partials/mixins";

.CardListSkills {
    @extend %templateCard;
    &::-webkit-scrollbar {
        display: none;
    }
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    grid-area: list;
    margin-top: 0;
    overflow-y: scroll;
    padding: 5px;
    width: auto;
    padding-left: 0;
}
